ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-35 {
    margin-bottom: 35px;
}


.mb-60{
    margin-bottom: 60px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-150{
    margin-bottom: 150px;
}

.mri-0 {
    margin-right: 0px !important;
}

.mr-10{
    margin-right: 10px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mti-50 {
    margin-top: 50px !important;
}
.mt-65 {
    margin-top: 65px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-70{
    margin-top: 70px;
}
.mt-90{
    margin-top: 90px;
}
.mt-100{
    margin-top: 100px !important;
}
.mt-150{
    margin-top: 150px !important;
}
.mt-200{

    margin-top: 200px;
}

.plr-20 {
    padding: 0px 20px;
}

.p-0 {
    padding: 0px;
}

.plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.ptb-30 {
    padding: 30px 0px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-170 {
    margin-top: 170px;
}
.text-justify{
    text-align: justify;
}
.cus_mb_50{
    margin-bottom: 50px;
}
.cus_mb_40{
    margin-bottom: 40px;
}
.cus_mb_30{
    margin-bottom: 30px;
}
.cus_mb_20{
    margin-bottom: 20px;
}
.cus_mb_10{
    margin-bottom: 10px;
}
.cus_mt_50{
    margin-top: 50px;
}
.cus_mt_40{
    margin-top: 40px !important;
}
.cus_mt_30{
    margin-top: 30px !important;
}
.cus_mt_20{
    margin-top: 20px !important;
}
.cus_mt_10{
    margin-top: 10px !important;
}
