button {
    border: none;
}

*:focus {
    outline: none;
}

.no_wrap {
    white-space: nowrap;
}

.pl-0 {
    padding-left: 0px !important;
}

.pipe {
    display: inline-block;
    width: 14px;
    height: 0.5px;
    background: #007C4A;
    transform: rotate(-90deg);
    margin-bottom: 3px;
    margin-right: 10px;
}

.top_header_info_section {
    display: inline-block;
    width: 100%;
    padding: 15px 0px;
    background: rgba(0, 124, 74, 0.8);
}

.header_info_left {
    display: inline-block;
    width: 100%;

    .info_list {
        display: inline-block;

        img {
            margin-right: 5px;
        }

        a {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #ffffff;
            margin-right: 15px;
        }
    }
}

.header_info_right {
    display: inline-block;
    width: 100%;
    text-align: right;

    .info_list {
        display: inline-block;
        position: relative;

        img {
            margin-right: 10px;
        }

        span {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #ffffff;
            margin-right: 10px;
        }

        .language_change_section {
            cursor: pointer;
        }

        .language_select_option {
            display: none;
            position: absolute;
            top: 30px;
            right: 20px;
            width: 80px;
            background: #ffffff;
            border-radius: 3px;
            border: 1px dotted #33966e;

            a {
                display: inline-block;
                width: 100%;
                text-align: left;
                font-family: $font-family-inter;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                padding: 5px 10px;
                border-bottom: 1px dotted #33966e;
                color: #33966e;

                &:hover {
                    background: #33966e;
                    color: #ffffff;
                }
            }
        }
    }
}

.top_header_logo_section {
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    padding: 5px 0px 0px;

    .others_logo_section {
        display: inline-block;
        width: 48%;
        padding: 5px 0px;

        img {

            width: 100%;
        }
    }

    .head_address_section {
        display: inline-block;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.13);
        border-radius: 5px;
        // text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;

        img {
            width: 30%;
            display: inline-block;
            max-height: 70px;
            // padding: 11px;
        }

        address {
            width: 60%;
            display: inline-block;
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            margin: 25px 0px 0px !important;
        }
    }

    .head_address {
        display: inline-block;
        width: 100%;
        background: #007C4A;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25), inset 0px 0px 32px #00D57F;
        border-radius: 0px 0px 5px 5px;

        address {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
            padding: 8px;
            margin: 0;
        }
    }

    .main_logo {
        display: inline-block;
        width: 100%;
        text-align: center;
        // margin-top: 30px;
        margin-bottom: 5px;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    .motto_section {
        display: inline-block;
        width: 100%;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.13);
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 10px;

        h2 {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
            color: #007C4A;
            margin-bottom: 0px;
            padding: 10px;
        }

        .head_address {

            background: #007C4A;
            box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25), inset 0px 0px 32px #00D57F;
            border-radius: 0px 0px 5px 5px;

            span {
                display: block;
                font-family: $font-family-poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                padding: 12.5px;

                img {
                    margin-right: 10px;
                }
            }

        }
    }
}

.top_header_menu_section {
    display: inline-block;
    width: 100%;
    background: #007C4A;
}

.mobile_logo {
    display: none;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;

    .others_logo_section {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 7px;

        img {
            width: 80%;
        }
    }

    .main_logo {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;

        img {
            width: 100%;
            max-width: 300px;
        }
    }
}

.main_menu_list {
    display: inline-block;
    width: 100%;

    .desktop_menu {
        display: inline-block;
        padding: 0px;
        margin: 0px 0px -7px;

        li {
            display: inline-block;
            float: left;
            position: relative;

            a {
                display: inline-block;
                padding: 20px;
                font-family: $font-family-inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;

                span {
                    display: inline-block;
                    margin-left: 7px;
                }

            }

            .main_menu:hover {
                background: #007C4A;
                box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25), inset 0px 0px 32px #00D57F;
            }

            .main_menu:hover + .desktop_sub_menu1 {
                color: red !important;
            }

            .desktop_sub_menu1,
            .desktop_sub_menu2 {
                display: none;
                width: 220px;
                margin: 0px;
                padding: 0px;
                background: #FFFFFF;
                border-left: 3px solid #007C4A;
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);

                li {
                    display: inline-block;
                    width: 100%;

                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 10px 15px;
                        font-family: $font-family-poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        color: rgba(0, 0, 0, 0.8);
                        border-bottom: 1px dashed rgba(0, 0, 0, 0.3);

                        background: #ffffff;
                        background: linear-gradient(to left, #ffffff 50%, #439C78 50%);
                        background-size: 200% 100%;
                        background-position: right bottom;

                        -webkit-transition: background-position 0.35s ease;
                        -moz-transition: background-position 0.35s ease;
                        -o-transition: background-position 0.35s ease;
                        transition: background-position 0.35s ease;

                        &:hover {
                            background-position: left bottom;
                            color: #ffffff;
                        }
                    }
                }
            }

            .desktop_sub_menu1 {
                position: absolute;
                top: 57px;
                left: 0px;
                z-index: 9999;
            }

            .desktop_sub_menu2 {
                position: absolute;
                top: 57px;
                left: 220px;
                z-index: 9999;
            }

            .desktop_sub_menu1_last {
                left: auto;
                right: 220px;
            }

            .desktop_sub_menu2_last {
                left: auto;
                right: 0;
            }

        }

        .empty_sub:hover {
            background: none !important;
            box-shadow: none !important;
        }
    }
}


.mobile_menu {
    display: none;
}

.mobile_slider {
    display: none !important;

    img {
        display: inline-block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 400px;
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #007C4A;
    margin: 7px 0;
    transition: 0.4s;
}

.change {
    .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}

.main_footer_section {
    display: inline-block;
    width: 100%;
    background: #04452B;
    padding-bottom: 50px;

    .footer_news_letter {
        display: inline-block;
        width: 100%;
        padding-top: 35px;
        text-align: center;

        padding-bottom: 55px;
        margin-bottom: 55px;
        border-bottom: 0.5px solid #007C4A;

        h2 {
            font-family: $font-family-poppins;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-transform: capitalize;
            color: #FFFFFF;
        }

        p {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 32px;
        }

        .email_input {
            display: inline-block;
            width: 60%;
            position: relative;

            input {
                display: inline-block;
                width: 100%;
                padding: 22px 64px;
                background: #F0F1F2;
                border-radius: 40px;
            }

            img {
                position: absolute;
                left: 33px;
                top: 26px;
            }

            button {
                position: absolute;
                right: 12px;
                top: 12px;
                background: #007C4A;
                border-radius: 30px;
                padding: 15px 45px;
                font-family: $font-family-inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }

    .footer_main_list {
        display: inline-block;
        width: 100%;
        padding-top: 65px;
        margin-bottom: 25px;

        img {
            margin-bottom: 15px;
            max-height: 200px;
            max-width: 90%;
        }

        p {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 18px;
        }

        h2 {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 25px;
        }

        a {
            display: inline-block;
            width: 100%;
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 20px;
        }
    }
}

.footer_bottom_section {
    display: inline-block;
    width: 100%;
    background: #04452B;
    border-top: 0.5px solid #FFFFFF;
    padding: 25px 0px;

    .footer_bottom_left {
        display: inline-block;
        width: 100%;

        p {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 0px;
        }
    }

    .footer_bottom_right {
        display: inline-block;
        width: 100%;
        text-align: right;

        a {
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.6);
            margin-right: 40px;
        }
    }
}


// sidebar design start
.fixed-position {
    position: fixed;
}

.mobile_side_menu {
    display: none;
    position: fixed;
    background: #ffffff;
    left: 33%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.side_menu_section {
    list-style: none;
    margin: 0;
    background: #007C4A;
    height: calc(100vh - 100px);
    padding: 20px 0px 100px;
    overflow-y: scroll;

    li {
        display: inline-block;
        width: 100%;

        a {
            display: inline-block;
            width: 100%;
            font-family: $font-family-inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding: 15px 30px;
            color: #FFFFFF;

            img {
                float: right;
            }
        }

        .side_sub_menu_section {
            display: none;
            background: #ffffff;

            li {
                a {
                    color: #007C4A;
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.mobile_side_menu_header {
    display: inline-block;
    width: 100%;
    padding: 15px 0px;
    background: rgba(0, 124, 74, 0.8);
}

.title_with_bottom_border {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;

    h2 {
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #007C4A;
    }

    .titleBorderBottom {
        position: absolute;
        background: #007C4A;
        border-radius: 30px;
        bottom: -5px;
        height: 4px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 155px;
    }
}

// sidebar design end

// Contact us start
.contact_us_btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 18px;
    background: #007C4A;
    box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.12);
    border-radius: 5px;
}

.payment_proceed_btn {
    display: inline-block;
    text-align: center;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 18px;
    background: #007C4A;
    box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.12);
    border-radius: 5px;
    margin-right: 20px;

    &:hover {
        color: #ffffff;
    }
}

.danger_payment_btn {
    display: inline-block;
    text-align: center;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 18px;
    background: #dc4e4e;
    box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.12);
    border-radius: 5px;
    margin-right: 20px;

    &:hover {
        color: #ffffff;
    }
}

.go_back {
    background: #ffffff;
    color: #000000;
}

// Contact us end

//Mujib image frame start

.sk_muib_content {
    display: inline-block;
    width: 100%;
    padding: 28px 28px 18px 28px;
    background: rgba(120, 186, 159, 0.1);

    .mujib_main_image {
        position: relative;
        display: inline-block;
        width: 25%;
        margin-bottom: 25px;
        margin-right: 40px;
        float: left;
        border: 8px solid #007c4a;

        img {
            display: inline-block;
            width: 100%;
            border: 8px solid #ffffff;
        }

        .mujib_image_frame {
            position: absolute;
            left: 5px;
            bottom: -23px;
            background: #ffffff;
            right: -23px;
            top: 8px;
            z-index: -1;
            border: 8px solid #007c4a;
        }
    }

    p {
        text-align: justify;
        font-family: $font-family-inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.8);

        span {
            color: #007C4A;
            font-weight: 600;
        }
    }
}

//Mujib image frame end


// view all btn section start
.view_all_notice_btn {
    background: #41AB8A;
    box-shadow: 0px 4px 18px rgba(0, 124, 74, 0.08), inset 0px 0px 32px rgba(0, 124, 74, 0.18);
    border-radius: 30px;
    padding: 22px 45px;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-14;
    line-height: 14px;
    color: #FFFFFF;

    &:hover {
        background: $text-7c4a;
        color: $white;
    }
}

.view_load_more_btn {
    background: #007C4A;
    box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.12);
    border-radius: 5px;
    padding: 10px 90px;
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-14;
    line-height: 19px;
    color: #FFFFFF;

    &:hover {
        border: 1px solid $text-7c4a;
        background: $white;
        color: $black;
    }
}

.show_all_insurance_btn {
    display: none;
    width: 100%;
    text-align: center;
    padding: 12px;
    color: #ffffff;
    background: $green-bg;
    border-radius: 3px;
    margin-bottom: 20px;
}

// view all btn section end

// Image Gallery slider start
.image-gallery-slider {
    display: inline-block;
    width: 100%;

    img {
        display: inline-block;
        width: 100%;
    }


    #your-slider .slide:nth-child(n + 2) {
        display: none;
    }


    #your-slider.slick-initialized .slide {
        display: block;
    }

    .slick-prev {
        left: 25px;
        z-index: 9;
    }

    .slick-prev:before {
        content: "←";
    }

    .slick-next {
        right: 25px;
    }

    .slick-next:before {
        content: "→";
    }

    .slick-slider {
        position: relative;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;

        display: block;
    }

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: "";
    }

    .slick-track:after {
        clear: both;
    }

    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;

        height: 100%;
        min-height: 1px;
    }

    [dir="rtl"] .slick-slide {
        float: right;
    }

    .slick-slide img {
        display: block;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }


    @font-face {
        font-family: "slick";
        font-weight: normal;
        font-style: normal;
    }

    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }

    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
        opacity: 1;
    }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: 0.25;
    }

    .slick-prev:before,
    .slick-next:before {
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

.image-gallery-slider-thumbnail {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-y: scroll;
    margin-top: 5px;

    img {
        display: inline-block;
        width: 15%;
        opacity: 0.4;
        transition: all .3s ease;
        padding: 0 7px;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }

    img.active {
        transform: scale(1.2);
        opacity: 1;
    }
}

.about_coversure_insurance {
    .slick-slide {
        padding: 0 15px;
    }
}

.mujib_image_slider {
    .slick-slide {
        padding: 0 8px;
    }
}

.show_big_image {
    display: inline-block;
    width: 100%;

    img {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}

// Image Gallery slider end
.cha_description {
    p {
        color: $text-7c4a;
    }
}

// section new btn or other section
.animation_btn_view {
    display: inline-block;
    color: white;
    background: #007C4A;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 124, 74, 0.3);
    transition: .5s ease-in-out;
    cursor: pointer;

    a {
        display: inline-block;
        padding: 5px 12px;
        position: relative;
        color: white;
        text-align: center;
        transition: .5s;

        .left_icon {
            margin-right: 6px;
            margin-bottom: 5px;
        }

        &:hover {
            color: white;
        }

        .arrow_icon {
            position: absolute;
            right: -15px;
            top: 12px;
        }
    }

    &:hover a {
        margin-left: -25px;
        margin-right: 25px;
    }
}

.carried_card_active_img {
    display: none;
}

.engine_capacity_active {
    color: #FFFFFF !important;
    background: #007C4A !important;
}

.management_team_description {
    display: inline-block;
    width: 100%;

    .mtd_first {
        display: inline-block;
        width: 100%;
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        /* or 131% */
        text-align: center;
        margin-bottom: 12px;

        span {
            color: #007C4A;
        }
    }

    .mtd_second {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: $font-family-inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 32px;

    }

    .meet_our_managment_team {
        display: inline-block;
        width: 100%;
        text-align: center;

        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #007C4A;
        margin-bottom: 10px;
    }
}

/*******************************************************************************
***************************    CoverSure Invoice Table Start    *****************
********************************************************************************/
.east_invoice_table {
    tbody {
        tr {
            .header_title {
                background: #007C4A;
                color: #ffffff;
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #FFFFFF;
            }

            td {
                width: 50%;
            }
        }
    }
}

/*******************************************************************************
***************************    CoverSure Invoice Table End    *****************
********************************************************************************/


/*******************************************************************************
***************************    RESPONSIVE START    *****************************
********************************************************************************/

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .main_menu {
        padding-right: 25px !important;
        font-size: 12px;
    }

    .main_footer_section {
        .footer_news_letter {
            .email_input {
                width: 80%;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header_info_right {
        .info_list {
            img {
                margin-right: 5px;
            }

            span {
                margin-right: 4px;
            }
        }
    }
    .main_menu {
        padding-right: 15px !important;
    }
    .chairman_left_image_section {
        padding: 15px 50px 0px;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .footer_bottom_right {
        a:last-child {
            margin-right: 0px;
        }
    }
    .main_logo,
    .footer_bottom_right,
    .footer_bottom_left,
    .others_logo_section,
    .header_info_left,
    .header_info_right {
        text-align: center !important;
    }

    .top_header_logo_section {
        display: none;

        .others_logo_section {
            img {
                width: 40%;
            }
        }
    }
    .top_header_info_section {
        display: none;
    }
    .mobile_logo {
        display: block !important;
    }
    .top_header_menu_section {
        display: none;
    }
    .mobile_menu {
        display: inline-block;
        padding: 1px 10px 0px;
    }
    .main_footer_section {
        .footer_news_letter {
            .email_input {
                width: 100%;
            }
        }
    }
    .home_page {
        margin-top: 0px !important;
    }

    .container .intro_after_description {
        margin: 0 5%;
    }
    .product_menu_bar_green {
        margin-bottom: 10px !important;
    }
    .left_content {
        margin-bottom: 35px;
    }

    .main_footer_section {
        padding-top: 40px;

        .footer_main_list {
            padding-top: 10px;
        }
    }
    .chairman_left_image_section {
        padding: 15px 15px 0px;
        margin-bottom: 20px;
    }
    .sk_muib_content {
        .mujib_main_image {
            width: 50%;
        }
    }
}

// Financial Highlights start
.financial_highlights_title {
    display: inline-block;
    width: 100%;
    padding: 0px 8px;
    position: relative;
    margin-bottom: 35px;

    h2 {
        text-align: center;
    }

    .titleBorderBottom {
        background: #007C4A;
        border-radius: 30px;
        bottom: -12px;
        height: 4px;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 155px;
    }
}

.financial_highlights_infos {
    display: inline-block;
    width: 100%;
    padding: 0px 8px;
    margin-bottom: 15px;
    text-align: right;

    button {
        background: #FFFFFF;
        border: 1px solid #007C4A;
        border-radius: 5px;
        padding: 8px 16px;

        img {
            margin-right: 8px;
            margin-bottom: 3px;
        }

        span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #007C4A;
        }
    }
}

.details_of_shareholding_position {
    display: inline-block;
    width: 100%;
    text-align: center;

    h3 {
        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
    }

    p {
        font-family: $font-family-inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);

        span {
            color: #007C4A;
        }
    }
}

.user_dashboard_sidebar {
    display: inline-block;
    width: 100%;
    margin-top: 8px;

    ul {
        padding: 0;
        list-style: none;

        display: inline-block;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 124, 74, 0.13);
        margin-bottom: 5px;
        margin-top: 5px;

        li {
            display: inline-block;
            width: 100%;

            a {
                display: inline-block;
                width: 100%;
                padding: 15px 25px;
                border-bottom: 1px solid #dddddd;

                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: rgba(0, 0, 0, 0.8);

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background: #007C4A;
                    color: #ffffff;
                }
            }

            .active {
                background: #007C4A;
                color: #ffffff;
            }
        }
    }
}

.financial_highlights_table_area {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    table {
        border-collapse: separate;
        border-spacing: 8px 12px;
        border: none;

        thead {
            tr {
                th {
                    background: $green-bg;
                    color: white;
                    text-align: center;
                    font-family: $font-family-inter;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 20px 20px;
                }
            }
        }

        tbody {
            vertical-align: middle;

            tr {
                th {
                    font-family: $font-family-inter;
                    font-style: normal;
                    text-align: center;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                    color: #FFFFFF;
                    padding: 20px 20px;
                    background: rgba(0, 0, 0, 0.8);
                }

                td {
                    font-family: $font-family-inter;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 14px;
                    color: rgba(0, 0, 0, 0.8);
                    padding: 10px 20px;
                    // background: #ffffff;
                    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
                    border: none;
                }
            }
        }
    }
}

.share_holding_info {
    background: #F2F9F6;
    padding: 30px 0px 10px 0px;
}

.share_holding_chart_section {
    display: inline-block;
    width: 100%;

    .sohan_chart {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: green;
        background: repeating-conic-gradient(from 0deg,
            #ff264a 0deg calc(3.6deg * 35),
            #feec1e calc(3.6deg * 35) calc(3.6deg * 70),
            #12cbc4 calc(3.6deg * 70) calc(3.6deg * 100)
        );

        span {
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
}

// Financial Highlights end

@media(min-width: 992px) and (max-width: 1200px) {
    .top_header_logo_section {
        .others_logo_section {
            width: 100%;
            padding: 20px 0px !important;
        }

        .head_address_section {
            img {
                margin-top: -28px !important;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .main_footer_section {
        .footer_news_letter {
            .email_input {
                input {
                    padding: 15px 50px;
                }

                img {
                    left: 20px;
                    top: 18px;
                }

                button {
                    padding: 8px 15px;
                }
            }
        }
    }

    .top_header_logo_section {
        .others_logo_section {
            margin-bottom: 20px;
        }
    }
    .res-mt-50 {
        margin-top: 0px !important;
    }
    .mobile_logo {
        padding-bottom: 0px;
    }
    .short_info_div,
    .company_info_session {
        margin-bottom: 25px;
    }
    .res-mb-35 {
        margin-bottom: 35px;
    }
    .res-mt-3 {
        margin-top: 35px;
    }

    .notice_details {
        p {
            text-align: justify;
        }
    }
    .responsive_display_none {
        display: none;
    }
    .mobile_slider {
        display: block !important;
    }
    .home_page {
        margin-bottom: 0px !important;
    }

    .popup-wrapper {
        .popup-content {
            .body {
                width: 96vw;
            }
        }
    }
}

@media (max-width: 576px) {
    .sm-hide {
        display: none;
    }

    .sk_muib_content {
        .mujib_main_image {
            width: 100%;
            margin-bottom: 35px;
        }

        p {
            text-align: left;
        }
    }
    .insurance_item {
        display: none;
    }
    .show_all_insurance_btn {
        display: inline-block;
    }
}


/*******************************************************************************
***************************    RESPONSIVE END    *****************************
********************************************************************************/
.select2-container--default .select2-selection--single {
    height: 45px;
    padding-left: 10px;
    padding-top: 7px;
    border: 0.5px solid rgba(0, 124, 74, 0.8);
}

.select2-selection__arrow {
    display: none;
}


/*******************************************************************************
***************************    Popup modal for home page start   ***************
********************************************************************************/
.custom_modal_show {

}


.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .background_shade {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup-content {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .header {
            display: inline-block;
            width: 100%;
            padding: 5px;
            height: 40px;
            overflow: hidden;

            .close {
                cursor: pointer;
                font-size: 30px;
                float: right;
                margin-top: -8px;
                margin-right: 10px;
            }
        }

        .body {
            max-height: 500px;
            overflow-y: scroll;


            /* width */
            &::-webkit-scrollbar {
                width: 3px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            img {
                display: inline-block;
                width: 100%;
            }
        }
    }
}


/*******************************************************************************
***************************    Popup modal for home page end   ***************
********************************************************************************/
